{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="main_1">
    <div class="main_1_box">
        <div class="mypage_title">MY PAGE</div>
        <div class=""></div>
        {{user.username}}
    </div>

    <div class="main_2_box">
        <div class="main_2_name">
            {% if request.user.profile.img %}
            <img class="main_2_face" src="{{request.user.profile.img.url}}" style="width: 100%;">
            {% else %}
            <form class="emoji_form" id="emoji_form" action="{% url 'users:emoji' %}" method="POST" enctype="multipart/form-data">
                <div style="padding-top: 30%;">
                    <div id="emoji_btn">+ emoji
                    {% csrf_token %}
                    <input type="file" name="img" onchange="formSubmit()"></div>
                </div>
            </form>
            {% endif %}
            <div class="main_2_hi">
                {{user.username}}
            </div>
        </div> 
    </div>
    <script>
        function formSubmit(){
            emoji_form.submit()
        }
    </script>

</div>
{% endblock %}