.emoji_form{
    width: 100%;
    background-color: white;
}

.main_2_hi{
    font-size: 35px;
    text-align: center;
    padding-top: 5%;
}

.emoji_form{
    width: 100%;
    padding-bottom: 70%;
    border-radius: 50%;
    background-color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #959559;
}

.mypage_title{
    margin: 3% 5%;
    padding-bottom: 2%;
    width: 90%;
    font-family: "AppleSDGothicNeoLB";
    font-size: 25px;
    color: #959595; 
    border-bottom: 3px solid whitesmoke;
}

.mypage_visitlist_title{
    margin: 3% 5%;
    padding-bottom: 2%;
    width: 90%;
    font-family: "AppleSDGothicNeoLB";
    font-size: 25px;
    color: #959595; 
    border-bottom: 3px solid whitesmoke;
}

.mypage_follower{
    text-align: center;
    font-size: 12px;
    padding-top: 5%;
    color: #959595;
}

.mypage_visitlist{
    margin: 0 8%;
    padding: 1%;
    width: 80%;
}

.follow_btn{
    text-align: center;
}

.follow_btn button{
    background-color: white;
    padding: 1% 5%;
    border: none;
    border-radius: 10px;
}