{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#detail_4_1_edit_1{
    border: none;
    background-color: none;
    color: #959595;
    font-size: 15px;
}

.detail_5{
    width: 100%;
    text-align: center;
    padding: 5% 0;
}

.detail_5_btn{
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 1% 2%;
    border: none;
}
</style>

<div class="detatil_1">
    <div class="detail_1_1">
        <div class="detail_post">VISIT</div>
        <div class="detail_title">{{post.title}}</div>
        <div class="detail_writer">
            {% if post.writer %}
                {% if 'user' in post.writer.username %}
                    <a href="{% url 'users:mypage' post.writer.id %}" >{{ post.writer.last_name }}{{ post.writer.first_name }}</a>&nbsp; | &nbsp; {{ post.pub_date }}
                {% else %}
                    <a href="{% url 'users:mypage' post.writer.id %}" >{{ post.writer }}</a>&nbsp; | &nbsp; {{ post.pub_date }}
                {% endif %}
            {% else %}
            Anonymity
            {% endif %}
        </div>
    </div>

    <div class="detail_1_2">
        {% if user == post.writer %}
        <br><br>
        <button  class="detail_1_2_btn" onclick="location.href='/posts/'">
            <a href="{%url 'main:edit' post.id%}">수정</a></button> <br><br>
        <button  class="detail_1_2_btn" onclick="location.href='/posts/'">
            <a href="{%url 'main:delete' post.id%}">삭제</a></button>
        {% endif %}
    </div>
</div>

<div class="detail_2"  onkeydown="resize(this)" onkeyup="resize(this)">
    <div class="detail_2_img"><img id="detail_2_img" src="{{post.image.url}}" alt="사진"></div>
    <div class="detail_body">{{ post.body }}</div>
</div>
<script src="{% static 'js/textarea_resize.js' %}"></script>

<div class="detail_like">

    <span id="detail_like_like" href="#" class="like" name ="{{post.id}}" value="Like">
        {% if user in post.like_user_set.all %}
            <div class="alt-service-icon">
                <i class="fa-solid fa-thumbs-up" id ="like-icon" style="color:red;"></i>
            </div>
        {% else %}
                <div class="alt-service-icon">
                <i class="fa-regular fa-thumbs-up" id ="like-icon" style="color:red;"></i>
            </div>
        {% endif %}
            <span id="count-{{ post.id }}" class="alt-services-title font-alt">
                좋아요
            {% if post.like_count == 0 %}
                0개
            {% else %}
                {{ post.like_count }}개
            {% endif %}
            </span>
    </span>
    <span id="detail_like_dislike" href="#" class="dislike" name ="{{post.id}}" value="DisLike">
        {% if user in post.dislike_user_set.all %}
            <div class="alt-service-icon">
                <i class="fa-solid fa-thumbs-down" id ="dislike-icon" style="color:blue;"></i>
            </div>
        {% else %}
                <div class="alt-service-icon">
                    <i class="fa-regular fa-thumbs-down" id ="dislike-icon" style="color:blue;"></i>
            </div>
        {% endif %}
            <span id="count-{{ post.id }}" class="alt-services-title font-alt">
                싫어요
            {% if post.dislike_count == 0 %}
                0개
            {% else %}
                {{ post.dislike_count }}개
            {% endif %}
            </span>
    </span>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(".like").click(function(){
            var pk=$(this).attr('name')
            $.ajax({
                type:'POST',
                url:"{% url 'main:like_toggle' post.pk %}",
                data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType:'json',
                success:function(response){
                    if(response.like_count==null){
                        alert('로그인이 필요합니다.');
                        window.location.replace('/accounts/login/');
                    }
                    else{
                        if(response.like_result=='like'){
                        $('#like-icon').removeClass();
                            $('#like-icon').addClass('fa-solid fa-thumbs-up');
                        }
                        else{
                            $('#like-icon').removeClass();
                            $('#like-icon').addClass('fa-regular fa-thumbs-down');
                        }
                        $('#count-{{post.id}}').html('좋아요 '+response.like_count+"개");
                    }
                },
                error:function(request, status, error){
                    alert("로그인이 필요합니다.")
                    alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
                },
            })
        })

        $(".dislike").click(function(){
            var pk=$(this).attr('name')
            $.ajax({
                type:'POST',
                url:"{% url 'main:like_toggle' post.pk %}",
                data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType:'json',
                success:function(response){
                    if(response.dislike_count==null){
                        alert('로그인이 필요합니다.');
                        window.location.replace('/accounts/login/');
                    }
                    else{
                        if(response.dislike_result=='dislike'){
                        $('#dislike-icon').removeClass();
                            $('#dislike-icon').addClass('fa-solid fa-thumbs-down');
                        }
                        else{
                            $('#dislike-icon').removeClass();
                            $('#dislike-icon').addClass('fa-light fa-thumbs-down');
                        }
                        $('#count-{{post.id}}').html('싫어요 '+response.dislike_count+"개");
                    }
                },
                error:function(request, status, error){
                    alert("로그인이 필요합니다.")
                    alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
                },
            })
        })
    </script>
    <br><br>
</div>

<div class="detail_3">
    <form id="detail_3" action="{%url 'main:create_comment' post.id%}" method="POST">
        {%csrf_token%}
        <textarea class="detail_3_1_text" name="content" placeholder="COMMENT"></textarea>
        <div class="detail_3_1_btn"><input id="detail_3_1_btn" type="submit" value="SUBMIT"></div>
    </form>
</div>

<div class="detail_4">
    {% for comment in comments %}
    <div class="detail_4_1">
      <div class="detail_4_1_writer">
        {% if 'user' in comment.writer.username %}
            {{comment.writer.last_name}}{{comment.writer.first_name}}
        {% else %}
            {{comment.writer}}
        {% endif %}
      </div>
      <div class="detail_4_1_content"> 
        <div style="padding-bottom: 1%;">{{comment.content}}</div>
        <div class="detail_4_1_time">{{comment.created_at}}</div>
        <form id="detail_4_1_edit_form" action="{% url 'main:update_comment' comment.id %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <p>내용 : <textarea name="body" id="" cols="30" rows="10">{{ comment.content }}</textarea></p>
            <button type="submit">제출</button>
        </form>
      </div>
      {% if user == comment.writer %}
      <div class="detail_4_1_edit">
        <div class="detail_4_1_edit_1"><a id="detail_4_1_edit_1" href="javascript:changeForm()"><i class="fa-solid fa-pen"></i></a></div>
        <div class="detail_4_1_edit_1"><a href="{% url 'main:delete_comment' comment.id %}"><i class="fa-solid fa-trash-can"></i></a></div>
      </div>
      {% endif %}
      <script type="text/javascript"> 
        var bDisplay = true; function changeForm(){ 	
            var con = document.getElementById("detail_4_1_edit_form"); 	
            if(con.style.display=='none'){ 		
                con.style.display = 'block'; 	
            }else{ 		
                con.style.display = 'none'; 	
            } 
        } 
    </script>
    </div>
    <br>
    {% endfor %}
</div>


<div class="detail_5">
    <button class="detail_5_btn" onclick="location.href='/posts/'">LIST</button>
</div>
  
{% endblock %}