{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">

<!-- <div background="{% static 'images/background.png'%}" style="background-repeat: no-repeat; background-size: cover; height: 100%;"> -->
<div class="main_1">
    <div class="main_1_box">
        <div class="main_1_ABOUT_ME">
                <p class="main_1_about">ABOUT ME</p>
                <hr style="border: solid 1px #939393; width: 100%; margin-bottom: 30px;">
                <p>Department of Industrial & Systems Engineering
                    <br>&
                    <br>Software Convergence Interdisciplinary Major
                </p>
                <p>02.12.05</p>
                <p><a id="main_link" href="https://github.com/Seulgigi">GITHUB</a></p>
                <p><a id="main_link" href="https://www.instagram.com/slg__i/">slg__i</a></p>
                <!-- <p><a id="main_link" href="{% url 'main:firstpage' %}">SNS_PROJECT</a></p>  // -->
                <p>slki1205@naver.com / 2021112414@dgu.ac.kr</p>
                <p>+82 2549 3017</p>
        </div>
    </div>

    <div class="main_2_box">
        <div class="main_2_name">
            <img class="main_2_face" src="{% static 'images/face.png' %}">
            <div class="main_2_hi">
                Ryu Seulgi
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
{% endblock %}