{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="post">

    <div class="post_1">
        VISIT LIST
    </div>

    <div class="post_2">
        {% if user.is_authenticated %}
        <a class="post2_btn" href="{% url 'main:new' %}">WRITE</a>
        {% else %}
        <a class="post2_btn" onclick="alert('로그인 후 이용해주세요.')">WRITE</a>
        {% endif %}
    </div>

    <div class="post_3">
        <div class="post3_box">
            <div class="post3_box_posts" style="width: 100%; display:flex;">
                {% for post in posts %}
                <div class="post3_box_onepost">
                    <a href="{% url 'main:detail' post.id %}">
                        <div id="post3_box_onepost_title">{{ post.title }}</div>

                        {% if post.image %}
                        <div class="post3_box_onepost_img"><img id="post3_box_onepost_img" src="{{post.image.url}}" alt="사진"></div>
                        {% endif %}

                        <div id="post3_box_onepost_writer">
                            {% if post.writer %}
                                {% if 'user' in post.writer.username %}
                                    {{ post.writer.last_name }}{{ post.writer.first_name }}
                                {% else %}
                                    {{ post.writer }}
                                {% endif %}
                            {% else %}
                                Anonymity
                            {% endif %}
                        </div>

                        <div id="post3_box_onepost_summary">{{ post.summary }}</div>
                    </a>
                    
                </div>
                {% endfor %}
            </div>
        
        </div>
    </div>
</div>





{% endblock %}
